


.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.left-section{
    flex: 1;
    display: flex;
    row-gap: 100px ;
    align-items: center;
    row-gap: 20px;

}

.lang{
    width: 130px;
    color: white;
    font-size: 14px;
    background-color: black;
    border: none;
}
.right-section{
    width: 180px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.netflix-logo{
    width: 100px;
    height: 60px;
}
.serach-button{
    display: flex;
    height: 40px;
    width: 50px;
    border: none;
    background-color: black;
    align-items: center;
    position: relative;
}

.serach-button:active{
    opacity:0;
}

.netflix{
    margin-left: 50px;
}

.serach-icon{
    height: 100%;
    width: 100%;
    background-color: white;
}
.alarm-button{
    display: flex;
    height: 40px;
    width: 50px;
    border: none;
    padding: none;
    margin:none;
    background-color: black;
    align-items: center;
    display: flex;
    position: relative;
}
.alarm-icon{
    height: 100%;
    width: 100%;
}

.notifications-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}
.profile-button{
    display: flex;
    height: 40px;
    width: 50px;
    align-items: center;
    background-color: white;
}
.profile-icon{
    height: 100%;
    width: 40px;
}


